body{
	margin: auto;
	width: 100%;
	background-color : #c2c2c2;
}

header{
	background: #003366;
	background-color: rgba(0,51,102,0.8);;
	width: 100%;
	top: 0;
	position: fixed;
	height: 55px;
	z-index: 2;
	
}

a{
	text-decoration: none;
	color: white;

}

.smallHigh{
	color: #fff;
	font-weight: bold;
}

.smallHigh:hover{
	color: black;
}

.container{
	width: 960px;
	margin: 0 auto;
}

/*sidebar*/
.home{
	color: #fff;
	float: left;
	font-family: righteous, "baloo chettan", Open Sans;
	font-size: 1.7em;
	padding-top: 15px;
	font-weight: bold;
	cursor: pointer;
}

.navL{
	list-style: none;
	float: left;
	margin-left: 70px;
	
	font-family: righteous, "baloo chettan", Open Sans;
}

.nav{
	float: right;
}

.navL a{

	color: #fff;
	font-size: 1em;

	display: block;
	padding: 5px 5px;
	border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color ease-out 0.2s, color ease-out 0.2s;
}

.navL a:hover{
	background-color: white ;
	color: #003366;
	transition: background-color ease-in 0.2s, color ease-in 0.2s ;
}

/*preface*/

.IntroSec{
	padding-top: 500px;
	
	height: 100%;
	width: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;

}

.Intro{
	 text-align: center;
     position: absolute;
     top: 48%;
     left: 50%;
     transform: translate(-50%, -85%);
     color: #003366;
     padding-bottom: 0;
}

.nameTop{
	font-size: 3.5em;
	font-family: righteous, "baloo chettan", Open Sans ;
}

.toppa{
	margin-top: -17px;
	font-family: montserrat, "roboto condensed";
	font-size: 1.4em;
	text-align: center;
	font-weight: 400;
}

.topBut{
	margin-top: 20px;
	font-size: 1.3em;
	font-family: Righteous, "baloo chettan", Open Sans;

	display: inline-block;
	width: 200px;
	font-weight: bold;
	padding: 10px;
	color: #003366;
	border: 2px solid #003366 ;
	text-align: center;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.topBut:hover, .btn:active{
	background-color: #003366;
	color: #fff ;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;

}

/*about section*/

.HAbout{
	text-align: center;
	font-size: 2.2em;
	color:#ffffff;
	padding-top: 15px;
	font-family: righteous, "baloo chettan", Open Sans
}

#aboutC{
	background-color: #003366;
	color: #cccccc;
	padding-bottom: 0px;

}

.PAbout{
	padding-bottom : 25px;
	font-size: 1.1em;
	font-family: "righteous", "baloo chettan",Open Sans;
	margin : 0;
}

/*portfolio section*/

.Vid {
	width : 60%;
	outline-style: solid;
	outline-color: #c2c2c2;
	outline-width: 1px;

	transition: width 0.2s ease-out;
}

.Vid:hover {
	width: 65%;
	transition: width 0.2s ease-in;
}

.Img{
	width : 60%;
	outline-style: solid;
	outline-color: #000;
	outline-width: 1px;

}

.parallaxIn{
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

.parallaxOut{
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

.videoText{
	font-family: "righteous", "baloo chettan",Open Sans;
	font-size: 1.1em;
	color: #fff;
	

	text-align: left;
	align-content: center;
	padding-top: 10px;
	padding-right: 18%;
	padding-left: 20%;
}

.videoText td{
	border: solid 20px transparent;
	width: 20%;
	text-align: center;
}

.row{
	display: flex;

	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #222222; 
}

.column{
	flex: 50%;
	text-align: center;
}

.langTag{
	font-family: "baloo chettan", righteous, Open Sans;
	font-size: 0.85em;
	margin-top: 5px;
	padding: 0.5%;
}

.gitButton{
	font-family: "baloo chettan", righteous, Open Sans;
	font-size: 0.85em;

	text-align: right;

	margin-top: 5px;
	padding: 0.5%;
	transition: font-size 0.1s ease-out;
}

.gitButton:hover{
	font-size: 1em;

	transition: font-size 0.1s ease-in;
}

/*others*/

.sectionTitles{
	text-align: center;
	font-size: 2.2em;
	color:#ffffff;
	background-color: #121212;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: righteous, "baloo chettan", Open Sans;
	margin : 0;
}

.ISkills{
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

.PN{
	font-weight: bold;
	padding-bottom: 50px;
	font-size: 1.25em; 
}

.SideVid a{
	text-decoration: underline;
}



/*contact section*/

.contactContainer{
	background-color: #222222;
}

.contact{
	display: flex;
	flex: 1 1 auto;
	flex-flow: row;
	position: relative;
	width: 580px;
	margin-left: 194px;
	color: #c2c2c2;

}

.formControl{
	width: 250px;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #c2c2c2;
	color: #c2c2c2;
	font-size: 16px;
	margin-bottom: 25px;
}

.submit{
	background-color: white; 
}

.contactText{
	margin: 20px;
}

.info{
	margin-bottom: 30px;		
}

.info span{
	font-weight: bold;
}

/*end section*/

.footer{
	margin: -1%;
	padding: 0;
	text-align: center;

	color: #c2c2c2;
	background-color: #003366;
}

.footer h1{
	padding-top: 10px;
	border-bottom: solid 1px #c2c2c2 ;
	font-size: 1.7em;
	font-family: righteous, "baloo chettan", Open Sans;
}

.footer span{
	font-size: 11px;
}


